apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency
  labels:
    app: currency
spec:
  replicas: 2
  selector:
    matchLabels:
      app: currency
  template:
    metadata:
      labels:
        app: currency
    spec:
      containers:
      - name: currency
        image: danyakube/currency-service:v1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9092
        resources:
          requests:
            cpu: 50m
            memory: 32Mi
          limits:
            cpu: 150m
            memory: 64Mi
